
<section class="order about">
  <div class="container">
    <div class="">
      <div class="order-text-title double-title">
        <span>Лучшая</span> итальянская пиццерия!
      </div>
      <div class="order-text-message">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы
        опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на
        следующий заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и
        не остался голодный!       Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы
        опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на
        следующий заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и
        не остался голодный!       Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы
        опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на
        следующий заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и
        не остался голодный!       Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы
        опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на
        следующий заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и
        не остался голодный!
      </div>
    </div>

    <div class="about-image">
      <img src="../assets/images/pizza_big.png" alt="pizza_big">
      <img src="../assets/images/pizza_big.png" alt="pizza_big">
    </div>
  </div>

</section>

<app-popup data="'About Component'"></app-popup>
