
.product {
  width: 282px;
  background: white;
  box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
  text-align: center;
  padding: 15px 20px;
  box-sizing: border-box;
  margin-top: 24px;
}

.product-image {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    max-height: 100%;
    max-width: 100%;
  }
}



.product-text {
  font-size: 14px;
  color: rgb(24, 26, 26);
  line-height: 1.286;
  height: 49px;
  margin: 13px 0 15px 0;
}

.product-action .btn {
  height: 50px;
  width: 242px;
  padding: 17px;
}

@media screen and (max-width: 1299px) {
.product {
  margin: 12px;
}
}
