<div class="product">
  <!--  <div *ngIf="productChild.image; then productImgBlock else defaultImgBlock"></div>-->
  @if (productChild.image) {
    <div class="product-image">
      <img src="assets/images/product/{{productChild.image}}">
    </div>
  } @else {
    <div class="product-image">
      <img src="assets/images/pizzzzza.png">
    </div>
  }



  <custom-title [title]="productChild.title | uppercase" #customTitle></custom-title>

  <div class="product-text">{{ productChild.description | wordUpper:['сыр','томат','гриб']}}</div>
  <div class="product-action" #elem>
    <button class="btn btn-add-to-cart" (click)="addProductToCard()">В корзину</button>
  </div>

  <div>{{cartProductService.gerCommonCount()}}</div>
<!--  <div>{{productChild.datetime | date:'full' | uppercase}}</div>-->
</div>

