<section class="order" id="order" >
  <div class="container">
    <div class="order-text">
      <div class="order-text-title double-title">
<!--        <a routerLink="/order" [queryParams]="{product:'test'}">Хватит думать!</a> Доставим заказ за 30 минут!-->
        <a routerLink="/order" [queryParams]="{product:formValues.productTitle + '1 '}">Хватит думать!</a> Доставим заказ за 30 минут!
      </div>
      <div class="order-text-message">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы
        опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на
        следующий заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и
        не остался голодный!
      </div>
    </div>
    <div class="order-form">

      <input type="text" class="order-input" id="product-input"
             placeholder="Пицца" [(ngModel)]="formValues.productTitle">
      <input type="text" class="order-input"  id="address-input" name="address" placeholder="Адрес доставки" [(ngModel)]="formValues.address">
      <input type="text" class="order-input"  id="phone-input" placeholder="Телефон" [(ngModel)]="formValues.phone">
      <button  appearance="primary"
               tuiButton class="btn" id="create-order" (click)="createOrder()">Оформить заказ</button>
    </div>
    <div class="order-image">
      <img src="../assets/images/pizzzzza.png" alt="pizzzzza">
    </div>
  </div>

</section>
